.footer__copyright {
    max-width: 186px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    color: #FFFFFF;
    margin: 0;
  }

@media screen and (max-width: 520px) {
  .footer__copyright{
    align-self: flex-start;
    padding-top: 13px;
  }
}